*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
}

img{
    max-width: 100%;
}

body{
    width: 100vw;
    height: 100vh;
}

main{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 49rem;
    max-height: 58rem;
    max-width: 50rem;
}

.contenedor{
    display: flex;
    flex-flow: column wrap;
}

.contenedor h1{
    font-size: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-bottom: .4rem solid #143F6B;
    border-radius: 1rem;
    text-align: center;
    max-width: 30rem;
    align-self: center;
}

.contenedor_div{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    background: #143F6B;
}

    .contenedor_div button{
        font-size: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 1rem;
        border: .3rem solid rgb(0, 151, 151);
        border-radius: 2rem;
        border: .2rem solid #F55353;
        background: #143F6B;
        color:#fff;
        cursor: pointer;
    }

    .contenedor_div h2{
        font-size: 3rem;
        margin-top: 2rem;
        letter-spacing: .2rem;
        color: #fff;
    }

    .contenedor_div img{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        object-fit: cover;
        margin-top: 1rem;
    }

    .contenedor_cargo{
        font-size: 1.5rem;
        margin:.5rem;
        color: #F55353;
    }

    .contenedor_texto{
        font-size: 1.1rem;
        padding: 2rem;
        color: #fff ;
        font-size: 1.5rem;
    }

    .contenedor_botones{
        display: flex;
        flex-flow: row wrap;
    }
        .contenedor_botones button{
            font-size: 2rem;
            padding-left: 1rem;
            padding-right: 1rem;
            margin: 1rem;
            border: .2rem solid #F55353;
            color:#fff;
            cursor: pointer;
        }